
<html dir="rtl">
<head>
	<title>
		چت باز
	</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/login/style.css">
</head>
<body>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.33.1/sweetalert2.all.js"></script>
	<%- include(viewPath('layouts/error-messages')) -%>

<div class="container">
    <div class="frame">
        <div class="nav">
            <ul class="links">
                <li class="signin-active"><a class="btn">ورود</a></li>
                <li class="signup-inactive"><a class="btn">عضویت</a></li>
            </ul>
        </div>
        <div ng-app ng-init="checked = false">
            <form class="form-signin" action="/auth/login" method="POST" name="form">
                <label for="username">ایمیل</label>
                <input class="form-styling" type="text" name="email" value="<%= old('email') %>" required/>
                <label for="password">رمز عبور</label>
                <input class="form-styling" type="password" name="password" value="<%= old('password') %>" required/> 
                <input type="checkbox" name="remember" id="checkbox" /> 
                    <label for="checkbox" class="ml-1"> مرا به خاطر بسپار </label>
                <div class="btn-animate"> 
                    <button class="btn-signin">ورود</button>
                </div>
            </form>

            <form class="form-signup" action="/auth/register" method="POST" name="form"> 
                <label for="fullname">نام کامل</label> 
                <input class="form-styling" type="text" name="fullname" value="<%= old('fullname') %>" required/> 
                <label for="email">ایمیل</label> 
                <input class="form-styling" type="text" name="email" value="<%= old('email') %>" required/> 
                <label for="password">رمز عبور</label> 
                <input class="form-styling" type="password" name="registerPassword" value="<%= old('registerPassword') %>" required/> 
                <label for="confirmpassword">تایید رمز عبور</label> 
                <input class="form-styling" type="password" name="confirmpassword" value="<%= old('confirmpassword') %>" required/> 
                <button type="submit" class="btn-signup" style="color: white;">عضویت</button> 
            </form>

            <!-- <div class="success"> 
                <svg style="height: 100px;"></svg>
                <div class="successtext">
                    <p> از عضویت شما در سایت ممنونیم...</p>
                    <p> شما هم اکنون در سایت عضو هستید و میتوانید به حساب کاربری خود وارد شوید ...</p>
                    <a href="/auth/login" class="btn btn-primary">رفتن به صفحه ورود</a>
                </div>
            </div> -->

        </div>
        <div class="forgot"> <a href="/auth/password/sendRecoveryEmail" style="color: white;">رمز عبورم را فراموش کردم</a> </div>
    </div> 
        <a id="refresh" value="Refresh" onClick="history.go()"> 
            <svg class="refreshicon" version="1.1" id="Capa_1" x="0px" y="0px" width="25px" height="25px" viewBox="0 0 322.447 322.447" style="enable-background:new 0 0 322.447 322.447;" xml:space="preserve">
            <path d="M321.832,230.327c-2.133-6.565-9.184-10.154-15.75-8.025l-16.254,5.281C299.785,206.991,305,184.347,305,161.224 c0-84.089-68.41-152.5-152.5-152.5C68.411,8.724,0,77.135,0,161.224s68.411,152.5,152.5,152.5c6.903,0,12.5-5.597,12.5-12.5 c0-6.902-5.597-12.5-12.5-12.5c-70.304,0-127.5-57.195-127.5-127.5c0-70.304,57.196-127.5,127.5-127.5 c70.305,0,127.5,57.196,127.5,127.5c0,19.372-4.371,38.337-12.723,55.568l-5.553-17.096c-2.133-6.564-9.186-10.156-15.75-8.025 c-6.566,2.134-10.16,9.186-8.027,15.751l14.74,45.368c1.715,5.283,6.615,8.642,11.885,8.642c1.279,0,2.582-0.198,3.865-0.614 l45.369-14.738C320.371,243.946,323.965,236.895,321.832,230.327z" /> </svg> 
        </a>
</div>

	<script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/login/script.js"></script>
</body>
</html>